{{# partial "content" }}
	<ul>
	{{#each documents}}
		<li>{{title}}</li>
		<li>{{content}}</li>
		<li>{{commentCount}}</li>
		<li>{{keeperCount}}</li>
		<li>{{postDate}}</li>
		<li>{{author.name}}</li>
		<li>COMMENTS</li>
		{{#each comments}}
			<li>{{content}}</li>
			<li>{{writer.name}}</li>
			<li>{{regDate}}</li>
		{{/each}}
		<li>SKILLS</li>
		{{#each documentSkills}}
			<li>{{skill.name}}</li>
		{{/each}}
	{{/each}}
	</ul>
{{/partial}}

{{# partial "page_script" }}
    <script type="text/javascript">
        $(document).ready(function() {
        });
    </script>
{{/partial}}

{{>layout}}



