{{# partial "content" }}
	<div class="body">
		{{>menu}}

		<div role="main" class="main">
			<section class="page-header">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="breadcrumb">
								<li><a href="#">Home</a></li>
								<li class="active">Blog</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h1>Full Width</h1>
						</div>
					</div>
				</div>
			</section>

			<div class="container">
				<div class="row">

					{{!markdown document form}}
					<div class="col-md-9">
						<div class="post-block post-leave-comment">
							<h3 class="heading-primary">New Document</h3>

							<form id="documentForm" name="documentForm" accept-charset="UTF-8" method="POST">
								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>Title</label>
											<input type="text" value="" data-msg-required="Please enter the title." data-plugin-maxlength
												   maxlength="100" class="form-control" name="title" id="title" tabindex="1" required>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<textarea data-plugin-markdown-editor rows="10" name="content" id="content" tabindex="2"></textarea>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>Skill</label>
											<input name="skill" id="skill" data-role="tagsinput" data-tag-class="label label-primary"
												   class="form-control" value="" tabindex="3">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<input type="submit" value="Post Document" class="btn btn-primary btn-lg mb-xlg"
											   data-loading-text="Loading...">
									</div>
								</div>
							</form>
						</div>
					</div>

					{{!skills}}
					<div class="col-md-3">
						<aside class="sidebar">
							<h4 class="heading-primary">Skills</h4>
							<ul class="nav nav-list mb-xlg">
								{{#each skills}}
									<li><a href="/skills/{{name}}">{{name}} ({{documentCount}})</a></li>
								{{/each}}
							</ul>
						</aside>
					</div>

					<div class="col-md-9">
						<div class="blog-posts">
							{{!document list}}
							{{#each documents}}
								<article class="post post-large">
									<div class="post-date">
										<span class="day">{{day}}</span>
										<span class="month">{{month}}</span>
									</div>

									<div class="post-content">
										<h2><a href="blog-post.html">{{title}}</a></h2>

										<p>{{{htmlContent}}}</p>

										{{!Info}}
										<div class="post-meta">
											<span><i class="fa fa-user"></i> By <a href="#">{{author.name}}</a> </span>
									<span><i class="fa fa-tag"></i> <a href="#">
										{{#each skills}}
											<a href="/skills/{{skill.name}}">{{skill.name}}</a>
										{{/each}}
									</a> </span>
											<span><i class="fa fa-comments"></i> <a href="#">{{commentCount}} Comments</a></span>
											{{!TODO:: 접기 기능}}
											<a href="blog-post.html" class="btn btn-xs btn-primary pull-right">Read more...</a>
										</div>

										{{!Author}}
										<div class="post-block post-author clearfix">
											<h3 class="heading-primary"><i class="fa fa-user"></i>Author</h3>

											<div class="img-thumbnail">
												<a href="blog-post.html">
													<img src="img/avatar.jpg" alt="">
												</a>
											</div>
											<p><strong class="name"><a href="#">{{author.name}}</a></strong></p>

											<p>{{author.description}}</p>
										</div>

										{{!Comments}}
										{{#if comments}}
											<div class="post-block post-comments clearfix">
												<h3 class="heading-primary"><i class="fa fa-comments"></i>Comments ({{commentCount}})</h3>

												<ul class="comments">
													{{#each comments}}
														<li>
															<div class="comment">
																<div class="img-thumbnail">
																	<img class="avatar" alt="" src="img/avatar-2.jpg">
																</div>
																<div class="comment-block">
																	<div class="comment-arrow"></div>
															<span class="comment-by">
																<strong>{{writer.name}}</strong>
															</span>

																	<p>{{content}}</p>
																	<span class="date pull-right">{{displayRegDate}}</span>
																</div>
															</div>
														</li>
													{{/each}}
												</ul>
											</div>
										{{/if}}

										{{!comment form}}
										<div class="post-block post-leave-comment">
											<h3 class="heading-primary">Leave a comment</h3>

											<form action="/comment/{{id}}/new" method="post">
												<div class="row">
													<div class="form-group">
														<div class="col-md-6">
															<label>Your name *</label>
															<input type="text" value="" maxlength="100" class="form-control" name="userId"
																   id="userId">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group">
														<div class="col-md-12">
															<label>Comment *</label>
															<textarea maxlength="5000" rows="10" class="form-control" name="content"
																	  id="content"></textarea>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<input type="submit" value="Post Comment" class="btn btn-primary btn-lg"
															   data-loading-text="Loading...">
													</div>
												</div>
											</form>
										</div>
									</div>
								</article>
							{{/each}}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{/partial}}

{{>layout}}



